<h1>Combination: <% @stye %> </h1>


  <tbody>
    <table class="table">
  <thead>
    <tr>
      <tr>imagen </tr> 
      
      <!-- Acá viene el código que me arroja cada una de las selecciones (9 en total)-->
      <!-- Carrito del mercado-->

    </tr>
  </thead>

  <%= link_to 'New Item', new_item_path %>
  <!--link to 'Skin Page' combination_item_path este link va a la página combinations y trin salen las combinaciones-->

  </tbody>
</table>

<br>